/* Muhammad Farrel Satrio Adipramana (25.12.3569) */
/* proteksi tambahan lewat css */

/* blokir select teks di seluruh halaman */
body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* blokir drag gambar */
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    pointer-events: auto;
}
